html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.pure-control-group {
  margin-bottom: 15px;
  position: relative;
}

#app {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px
}

.app-status {
  small {
    display: block
  }
}

.inline-label {
  color: #fff;
  font-size: 80%;
  padding: 2px 5px;
  border-radius: 3px;
  background: #bbb;
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 10px;
}

input:focus + .inline-label {
  background: #42b8dd;
}

.help-block {
  margin: 5px 0 0 0;
  color: #aaa;
  font-size: 80%;
}

.text-muted {
  color: #aaa;
}

.text-danger {
  color: #ca3c3c;
}

.pull-right {
  float: right;
}

.unit-toggle {
  border: 1px solid #42b8dd;
  border-radius: 3px;
  margin: 10px 0;

  a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    color: #42b8dd;
    min-width: 20px;
    text-align: center;

    &.active {
      background: #42b8dd;
      color: #fff;
    }
  }
}
